.col-1 {
    width: 10vw;
}

.col-1-5 {
    width: 15vw;
}

.col-2 {
    width: 20vw;
}

.col-3 {
    width: 30vw;
}

.col-4 {
    width: 40vw;
}
.col-5 {
    width: 50vw;
}

.col-6 {
    width: 60vw;
}

.col-7 {
    width: 70vw;
}

.col-8 {
    width: 80vw;
}

.col-9 {
    width: 90vw;
}

.col-10 {
    width: 100vw;
}
