.medium {
    font-weight: 500;
}

.bold {
    font-weight: 700;
}

.regular {
    font-weight: 400;
}

.poppins {
    font-family: Poppins !important;
}

.primary {
    color: $color-primary;
}

.secondary {
    color: $color-secondary;
}

.grey {
    color: $color-grey;
}

.light-grey {
    color: $color-light-grey;
}

.black {
    color: $color-black;
}

.bg {
    background-color: $color-bg;
}

@for $i from 1 through 100 {
    .fs-#{$i} {
        font-size: $i + px !important;
    }
}

.text-decoration-none {
    text-decoration: none;
}